@charset "utf-8";
* {
	color: white;
	font-family: 'Open Sans', arial;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 300%;
}

.principal {
	width: 100%;
	height: auto;
	background-color: #424242;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#menu {
	width: 80%;
	height: 54px;
  background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	transition: top 0.3s;
	position: fixed;
	display: flex;
	align-items: center;
}

#menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2vw;
}
#dropdown_ativa {
  font-size: 1.2vw;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}
#dropdown_conteudo {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
	min-width: 9%;
}
#dropdown_conteudo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#cabecalho {
	width: 100%;
	height: 237px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/cabecalho.jpg);
	background-position: right;
}
#cabecalho img {
	max-width: 100%;
	max-height: 100%;
}
#cabecalho h1 {
	font-size: 4vw;
	margin: 1%;
}

.meio {
		width: 80%;
		height: 100%;
}
/* principal */






/* página inicial */
#conteudo {
	width: 100%;
	height: 74.8%;
	display: flex;
	flex-wrap: wrap;
}

#index #titulo {
	width: 65%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

#espaco {
	width: 35%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.9);
}

#noticias {
	width: 65%;
	height: 100%;
	padding: 1%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-end;
}

.lancamentos {
	width: 48%;
	margin: 1%;
}

.card-body {
	background-color: #424242;
}

#anuncios {
	width: 35%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.9);
}
/* página inicial */






/* página de wallpaper */
#wallpapers_pc #esquerda {
	width: 10%;
	height: 100%;
}

#wallpapers_pc #direita {
	width: 10%;
	height: 100%;
}

#galeria_pc #titulo {
	width: 100%;
	padding: 0.5%;
}

#galeria_pc {
	width: 100%;
	height: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.imagens_pc {
	width: 31%;
  height: auto;
	margin: 1%;
}

.imagens_pc img {
	border: 1px solid #ccc;
	width: 100%;
	transition: 0.2s ease-in-out;
}

.imagens_pc img:hover {
	border: 1px solid #777;
	transform: scale(1.05);
}

#baguetteBox-overlay {
	max-width: 70%;
	margin-left: 15%;
}
/* página de wallpaper */






/* página de login */

#pagina_login {
	width: 100%;
	height: 100%;
	padding: 1%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#formulario {
	width: 80%;
	height: 100%;
	padding: 2%;
	background-color: #424242;
	border: solid 1px white;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 20px;
}

hr {
	background-color: white;
}

#entrar {
	margin-bottom: 5%;
}

#cadastrar {
	margin-top: 5%;
}

#entrar h2, #cadastrar h2 {
	margin-bottom: 2%;
}
/* página de login */




/* query  */
@media (min-width: 1400px) {
	#index, #login {
		background-image: url(../img/re_zero.png);
		background-position: center;
		background-attachment: fixed;
	}

	#menu a:hover, #dropdown:hover #dropdown_ativa {
	  background-color: #555;
	}
	#dropdown_conteudo a:hover {
	  background-color: #ddd;
	  color: black;
	}
	#dropdown:hover #dropdown_conteudo {
	  display: block;
	}
}


@media (min-width: 960px) and (max-width: 1380px) {
	#menu a:active, #dropdown:hover #dropdown_ativa {
	  background-color: #555;
	}
	#dropdown_conteudo a:active {
		background-color: #ddd;
		color: black;
	}
	#dropdown:hover #dropdown_conteudo {
		display: block;
	}
}


@media (min-width: 500px) and (max-width: 960px) {
	/* query principal */
	#menu {
		width: 100%;
		height: 59px;
	}
	#menu a, #dropdown_ativa {
	  font-size: 3vw;
	}
	#menu a:active, #dropdown:hover #dropdown_ativa {
	  background-color: #555;
	}
	#dropdown_conteudo a:active {
		background-color: #ddd;
		color: black;
	}
	#dropdown:hover #dropdown_conteudo {
		display: block;
	}


	#cabecalho {
		width: 100%;
		height: 250px;
		justify-content: left;
		background-image: url(../img/charlotte.jpg);
		background-size: 140%;
		background-position: top;
	}
	#cabecalho h1,	#index #titulo h2, #galeria_pc #titulo h2, #entrar h2, #cadastrar h2{
		font-size: 6vw;
	}

	.principal {
		width: 100%;
	}

	.meio {
		width: 100%;
	}
	/* query principal */



	/* query página inicial */
	#index #titulo, #galeria_pc #titulo {
		height: 60px;
	}

	#espaco {
		height: 60px;
	}

	.lancamentos {
		width: 97%;
		height: auto;
		margin: 1%;
	}

	.card-body {
		margin-bottom: 5%;
	}
	/* query página inicial */




	/* query página de wallpaper */
	.imagens_pc {
		width: 47%;
		margin: 1%;
		margin-bottom: 5%;
	}

	#baguetteBox-overlay {
		max-width: 100%;
		margin-left: 0%;
	}
/* query página de wallpaper */





/* query página de login */
	#pagina_login {
		padding: 0%;
	}

	#formulario {
		width: 100%;
		height: 100%;
		padding: 2%;
		background-color: #424242;
		border: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
}



@media (max-width: 480px) {
	/* query principal */
	#menu {
		width: 100%;
		height: 45px;
		transition: top 0.4s;
	}
	#menu a, #dropdown_ativa {
	  font-size: 3vw;
	}
	#menu a:active, #dropdown:hover #dropdown_ativa {
	  background-color: #555;
	}
	#dropdown_conteudo a:active {
		background-color: #ddd;
		color: black;
	}
	#dropdown:hover #dropdown_conteudo {
		display: block;
	}


	#cabecalho {
		width: 100%;
		height: 160px;
		align-items: left;
		justify-content: left;
		background-image: url(../img/charlotte.jpg);
		background-size: 140%;
		background-position: top;
	}

	#cabecalho img {
		max-width: 100%;
		max-height: 90%;
		align-self: flex-end;
	}

	#cabecalho h1,	#index #titulo h2, #galeria_pc #titulo h2, #entrar h2, #cadastrar h2{
		font-size: 6vw;
	}

	.principal {
		width: 100%;
	}

	.meio {
		width: 100%;
	}
	/* query principal */




	/* query página inicial */
	#index #titulo, #galeria_pc #titulo {
		width: 100%;
		height: 37px;
	}

	#espaco {
		width: 0%;
		height: 0%;
	}

	#noticias {
		width: 100%;
		height: 98%;
		padding: 1%;
	}

	.lancamentos {
		width: 97%;
		height: auto;
		margin: 1%;
	}

	.card-body {
		margin-bottom: 5%;
	}

	#anuncios {
		width: 0%;
		height: 0%;
	}
	/* query página inicial */





	/* query página de wallpaper */
	#wallpapers_pc #esquerda {
		width: 0%;
		height: 0%;
	}

	#wallpapers_pc #direita {
		width: 0%;
		height: 0%;
	}

	#galeria_pc {
		width: 100%;
		height: 90%;
	}

	.imagens_pc {
		width: 47%;
		margin: 1%;
		margin-bottom: 5%;
	}

	.imagens_pc img:hover {
		border: 1px solid #777;
		transform: scale(1.05);
	}

	#baguetteBox-overlay {
		max-width: 100%;
		margin-left: 0%;
	}
/* query página de wallpaper */





/* query página de login */
	#pagina_login {
		padding: 0%;
	}

	#formulario {
		width: 100%;
		height: 100%;
		padding: 2%;
		background-color: #424242;
		border: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
}
