@charset "UTF-8";

* {
  text-align: center;
}

h1 {
  color: navy;
  font-family: verdana;
}

#tela {
  text-align: right;
}

table {
  margin: 0 auto;
  border: 4px solid navy;
  width: 1%;
}

.botao input {
  width: 35px;
  margin: 1px;
  padding: 2px;
}
